<div class="upload-container">
<div class="page-header"><h1>Upload Profile</h1></div><span></span>
<div class="profile-container">
<%= form_for @profile do |f| %>
  <%= render 'shared/errors', object: @profile %>

  <div class="form-group">
    <%= f.label :first_name %>*
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>*
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :university %>*
    <%= f.text_field :university, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :graduation_year %>*
    <%= f.text_field :graduation_year, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :company %>*
    <%= f.text_field :company, class: 'form-control' %>
  </div>
  <div class="form-group">
    <div class="new-label">Current occupation*</div>
    <%= f.select :occupation, [['Select',''],['Investment banking','Investment banking'],['Consulting','Consulting'],['Other','Other']] %>
  </div>
  <div class="form-group">
    <div class="new-label">Current location*</div>
    <%= f.select :current_location, [['Select',''],['Chicago','Chicago'],['New York','New York'],['San Francisco','San Francisco'], ['Other','Other']] %>
  </div>
  <div class="form-group">
    <div class="new-label">Start Date with Current Company*</div>
    <%= f.text_field :start_date_current, class: 'form-control' %>
  </div>
  <div class="form-group">
    <div class="new-label">Region*</div>
    <%= f.select :region, [['Select',''],['Midwest','Midwest'],['East Coast','East Coast'],['West Coast','West Coast']] %>
  </div>
  <div class="form-group">
    <div class="new-label">Gender*</div>
    <%= f.select :gender, [['Select',''],['Male','Male'],['Female','Female'],['Other','Other']] %>
  </div>
  <div class="form-group">
    <div class="new-label">Preferred PE Start Date*</div>
    <%= f.text_field :start_date_pe, class: 'form-control' %>
  </div>
  <div class="new-label">Industry Preference*</div>
  <div class="industry_preference_first">
    <%= f.select :industry_preference_first, [['First Choice',''],['Healthcare','Healthcare'],['TMT','TMT'],['Industrials','Industrials'], ['Consumer','Consumer'],['Business Services','Business Services'], ['Energy','Energy'], ['Real Estate','Real Estate'], ['Other','Other']] %>
  </div>
  <div class="industry_preference_second">
    <%= f.select :industry_preference_second, [['Second Choice',''],['Healthcare','Healthcare'],['TMT','TMT'],['Industrials','Industrials'], ['Consumer','Consumer'],['Business Services','Business Services'], ['Energy','Energy'], ['Real Estate','Real Estate'], ['Other','Other']] %>
  </div>
  <div class="industry_preference_third">
    <%= f.select :industry_preference_third, [['Third Choice',''],['Healthcare','Healthcare'],['TMT','TMT'],['Industrials','Industrials'], ['Consumer','Consumer'],['Business Services','Business Services'], ['Energy','Energy'], ['Real Estate','Real Estate'], ['Other','Other']] %>
  </div><br>
  <div class="form-group">
    <div class="new-label">Interested type*</div>
    <%= f.text_field :category, class: 'form-control' %>
  </div>
  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>
</div>
</div>