<div class="upload-container">
<div class="page-header"><h1>Upload Profile</h1>Submission Deadline: February 6, 12:00pm CT</div><span></span>

<div class="profile-container">
<%= form_for @profile do |f| %>
  <%= render 'shared/errors', object: @profile %>

  <div class="form-group">
    <%= f.label :first_name %>*
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>*
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :university %>*
    <%= f.text_field :university, class: 'form-control' %>
  </div>
  <div class="form-group">
    <div class="new-label">Graduation year*</div>
    <%= f.select :graduation_year, [['Select',''],['2000','2000'],['2001','2001'],['2002','2002'],['2003','2003'],['2004','2004'],['2005','2005'],['2006','2006'],['2007','2007'],['2008','2008'],['2009','2009'],['2010','2010'],['2011','2011'],['2012','2012'],['2013','2013'],['2014','2014'],['2015','2015'],['2016','2016'],['2017','2017']] %>
  </div>
  <div class="form-group">
    <div class="new-label">Company*</div>
    <%= f.select :company, [["Select", ""],
    ["ABN AMRO", "ABN AMRO"],
    ["Allen", "Allen"],
    ["Banco Santander", "Banco Santander"],
    ["Bank of America Merrill Lynch", "Bank of America Merrill Lynch"],
    ["Barclays", "Barclays"],
    ["BB&T", "BB&T"],
    ["BBVA", "BBVA"],
    ["Blackstone", "Blackstone"],
    ["BMO Capital Markets", "BMO Capital Markets"],
    ["BNP Paribas", "BNP Paribas"],
    ["Brown Brothers Harriman", "Brown Brothers Harriman"],
    ["Brown, Shipley & Co.", "Brown, Shipley & Co."],
    ["BTG Pactual", "BTG Pactual"],
    ["C.W. Downer", "C.W. Downer"],
    ["Cain Brothers", "Cain Brothers"],
    ["Canaccord Financial", "Canaccord Financial"],
    ["Cantor Fitzgerald", "Cantor Fitzgerald"],
    ["Capstone Partners", "Capstone Partners"],
    ["Centerview Partners", "Centerview Partners"],
    ["CIBC", "CIBC"],
    ["CITIC", "CITIC"],
    ["Citigroup", "Citigroup"],
    ["Close Brothers Group", "Close Brothers Group"],
    ["CLSA", "CLSA"],
    ["Commerzbank", "Commerzbank"],
    ["Cowen", "Cowen"],
    ["Crédit Agricole", "Crédit Agricole"],
    ["Credit Suisse", "Credit Suisse"],
    ["Daewoo", "Daewoo"],
    ["Daiwa Securities", "Daiwa Securities"],
    ["DBS", "DBS"],
    ["Deutsche Bank", "Deutsche Bank"],
    ["Duff & Phelps", "Duff & Phelps"],
    ["Europa Partners", "Europa Partners"],
    ["EverBank", "EverBank"],
    ["Evercore Partners", "Evercore Partners"],
    ["FBR Capital Markets", "FBR Capital Markets"],
    ["Financo", "Financo"],
    ["Foros Group", "Foros Group"],
    ["Gleacher", "Gleacher"],
    ["Goldman Sachs", "Goldman Sachs"],
    ["Greenhill", "Greenhill"],
    ["Guggenheim", "Guggenheim"],
    ["Guosen Securities", "Guosen Securities"],
    ["Houlihan Lokey", "Houlihan Lokey"],
    ["HSBC", "HSBC"],
    ["Imperial Capital", "Imperial Capital"],
    ["ING", "ING"],
    ["Investec", "Investec"],
    ["J.P. Morgan", "J.P. Morgan"],
    ["Janney Montgomery Scott", "Janney Montgomery Scott"],
    ["Jefferies Group", "Jefferies Group"],
    ["Keefe, Bruyette & Woods", "Keefe, Bruyette & Woods"],
    ["KeyBanc", "KeyBanc"],
    ["Ladenburg Thalmann", "Ladenburg Thalmann"],
    ["Lazard", "Lazard"],
    ["Lincoln International", "Lincoln International"],
    ["M&T Bank", "M&T Bank"],
    ["M.M.Warburg", "M.M.Warburg"],
    ["Macquarie Group", "Macquarie Group"],
    ["Marathon Capital", "Marathon Capital"],
    ["Mediobanca", "Mediobanca"],
    ["Miller Buckfire", "Miller Buckfire"],
    ["Mitsubishi UFJ", "Mitsubishi UFJ"],
    ["Mizuho", "Mizuho"],
    ["Moelis", "Moelis"],
    ["Morgan Keegan", "Morgan Keegan"],
    ["Morgan Stanley", "Morgan Stanley"],
    ["Natixis", "Natixis"],
    ["Needham", "Needham"],
    ["Newedge", "Newedge"],
    ["Nomura", "Nomura"],
    ["Oppenheimer", "Oppenheimer"],
    ["Panmure Gordon", "Panmure Gordon"],
    ["Park Lane", "Park Lane"],
    ["Perella Weinberg", "Perella Weinberg"],
    ["Peter J. Solomon", "Peter J. Solomon"],
    ["Piper Jaffray", "Piper Jaffray"],
    ["PNC", "PNC"],
    ["Rabobank", "Rabobank"],
    ["Raymond James", "Raymond James"],
    ["RBC", "RBC"],
    ["Robert W. Baird", "Robert W. Baird"],
    ["Rothschild", "Rothschild"],
    ["Sagent Advisors", "Sagent Advisors"],
    ["Sandler O'Neill", "Sandler O'Neill"],
    ["Sanford Bernstein", "Sanford Bernstein"],
    ["Scotiabank", "Scotiabank"],
    ["Société Générale", "Société Générale"],
    ["Standard Chartered", "Standard Chartered"],
    ["Stephens", "Stephens"],
    ["Stifel", "Stifel"],
    ["Stone Key", "Stone Key"],
    ["Sumitomo Mitsui", "Sumitomo Mitsui"],
    ["SunTrust", "SunTrust"],
    ["Thomas Weisel", "Thomas Weisel"],
    ["UBS", "UBS"],
    ["UniCredit", "UniCredit"],
    ["Vermilion", "Vermilion"],
    ["Wedbush", "Wedbush"],
    ["Wells Fargo", "Wells Fargo"],
    ["William Blair", "William Blair"],
    ["WR Hambrecht", "WR Hambrecht"],
    ["Other", "Other"]] %>
  </div>
  <div class="form-group">
    <div class="new-label">Current location*</div>
    <%= f.select :current_location, [['Select',''],['Chicago','Chicago'],['New York','New York'],['San Francisco','San Francisco'], ['Other','Other']] %>
  </div>
  <div class="form-group">
    <div class="new-label">Current region*</div>
    <%= f.select :region, [['Select',''],['Midwest','Midwest'],['East Coast','East Coast'],['West Coast','West Coast']] %>
  </div>
  <div class="form-group">
    <div class="new-label">Gender*</div>
    <%= f.select :gender, [['Select',''],['Male','Male'],['Female','Female'],['Other','Other']] %>
  </div>
  <div class="form-group">
    <div class="new-label">Start Date with Current Company*</div>
    <%= date_select(:profile, :start_date_current, options = {discard_day: true}) %>
  </div>
  <div class="form-group">
    <div class="new-label">Preferred PE Start Date*</div>
    <%= f.select :start_date_pe, [['Select Date',''],['Immediate Start','Immediate Start'],['Summer 2017','Summer 2017'],['Summer 2018','Summer 2018'], ['Summer 2019','Summer 2019']] %>
  </div>
  <div class="new-label">Industry Preference*</div>
  <div class="industry_preference_first">
    <%= f.select :industry_preference_first, [['First Choice',''],['Healthcare','Healthcare'],['TMT','TMT'],['Industrials','Industrials'], ['Consumer','Consumer'],['Business Services','Business Services'], ['Energy','Energy'], ['Real Estate','Real Estate'], ['Other','Other']] %>
  </div>
  <div class="industry_preference_second">
    <%= f.select :industry_preference_second, [['Second Choice',''],['Healthcare','Healthcare'],['TMT','TMT'],['Industrials','Industrials'], ['Consumer','Consumer'],['Business Services','Business Services'], ['Energy','Energy'], ['Real Estate','Real Estate'], ['Other','Other']] %>
  </div>
  <div class="industry_preference_third">
    <%= f.select :industry_preference_third, [['Third Choice',''],['Healthcare','Healthcare'],['TMT','TMT'],['Industrials','Industrials'], ['Consumer','Consumer'],['Business Services','Business Services'], ['Energy','Energy'], ['Real Estate','Real Estate'], ['Other','Other']] %>
  </div><br>
  <div class="form-group">
    <%= f.label :resume %>* (PDF Only)
    <%= f.file_field :resume, class: 'form-control'%>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>
</div>
</div>